body {
    background-color: #F9EFDB;
    margin: 100px
}


h1 {
    text-align: center;
    font-family: "DM Sans";
    font-weight: 900;
    font-size: 4rem;
    color: #638889
}

h2 {
    text-align: center;
    font-family: "DM Sans";
    font-weight: 900;
    font-size: 3rem;
    color: #638889
}

h3 {
    text-align: center;
    font-family: "DM Sans";
    font-weight: 900;
    font-size: 2.5rem;
    color: #9DBC98;
    margin-top: 50px;
}

h4{
    font-family: "DM Sans";
    font-weight: 900;
    font-size: 2rem;
    color: #638889;

}
#end {
    text-align: center;
}
ol {
    font-family: "DM Sans";
    font-weight: 900;
    font-size: x-large;
    color: #9DBC98
}
span {
    color: #9DBC98
}

p {
    font-family: "DM Sans";
    font-size: x-large;
}
#VideoPic {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#heading {
    background-color: #EBD9B4;
    border-radius: 50px;
    margin: 20px
}
.pic {
    width: 550px;
    margin-left: 50px;
    margin-right: 50px;
    border: 8px solid #EBD9B4;
    border-radius: 50px;
}

#Pic1 {

    margin-left: 50px;
    margin-right: 50px;
    float:left
}

#Pic2 {
    margin-left: 50px;
    margin-right: 50px;
    float: right
}

#Pic3 {
    float:right;
    width: 550px
}
#Pic11{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

@media (max-width: 1200px) {
    h1 {
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p {
        font-size: medium;
        margin: 10px
    }

    .container {
        display:inline-block
    }
    div {
        text-align: center;
        justify-content: center;
    }
    .pic {
        margin: 0%;
        display: block;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    body {
        margin: 10%
    }
    
}